:root{
  --mainColor: #00a3e0;
}
@font-face {
  font-family: 'main-font';
  src: url(./asset/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'main-font-bold';
  src: url(./asset/font/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'main-font-black';
  src: url(./asset/font/Roboto-Black.ttf);
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(9, 1fr);
  color: blueviolet;
}

.sideBar{
  color: white;
  background-color: var(--mainColor);
  grid-column: 1/3;
  grid-row: 1/11;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 1vw;
}
.title{
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-bottom: 4vh;
}
#title-text{
  font-family: 'main-font-black';
  font-size: 24px;
  letter-spacing: 2px;
}
.menu-text{
  font-family: 'main-font-bold';
  font-size: 18px;
}
.user-menu, .app-menu{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 5vh;
  margin-left: 1.5vh;
}
.user-menu>div, .app-menu>div{
  display: flex;
  align-items: center;
  gap: 1vw;
}
.logo-big{
  height: 50px;
  width: auto;
  filter: invert(100%) brightness(200%);
}
.logo-small{
  height: 20px;
  width: auto;
  filter: invert(100%) brightness(200%);
}


.searchBar{
  grid-column: 3/13;
  grid-row: 1/3;
}

.content{
  background-color: #E3EBF2;
  grid-column: 3/13;
  grid-row: 3/11;
}