:root{
  --mainColor: #00a3e0;
}
@font-face {
  font-family: 'main-font';
  src: url(./asset/font/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'main-font-bold';
  src: url(./asset/font/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'main-font-black';
  src: url(./asset/font/Roboto-Black.ttf);
}

body{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(11, 1fr);
  color: blueviolet;
}

.sideBar{
  color: white;
  background-color: var(--mainColor);
  grid-column: 1/3;
  grid-row: 1/-1;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  padding: 1vw;
}
.title{
  display: flex;
  align-items: center;
  gap: 0.7em;
  margin-bottom: 4vh;
}
#title-text{
  font-family: 'main-font-black';
  font-size: 24px;
  letter-spacing: 2px;
}
.menu-text{
  font-family: 'main-font-bold';
  font-size: 18px;
}
.user-menu, .app-menu{
  display: flex;
  flex-direction: column;
  gap: 1vh;
  margin-bottom: 5vh;
  margin-left: 1.5vh;
}
.user-menu>div, .app-menu>div{
  display: flex;
  align-items: center;
  gap: 1vw;
}
.logo-big{
  height: 50px;
  width: auto;
  filter: invert(100%) brightness(200%);
}
.logo-small{
  height: 20px;
  width: auto;
  filter: invert(100%) brightness(200%);
}


.searchBar{
  grid-column: 3/13;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  
}
.searchBar-top{
  flex: 3;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}
.searchBar-bot{
  flex: 4; 
  display: flex; 
  justify-content: space-between;
  align-items: center;
}
.input-section, .icon-section{
  display: flex;
  align-items: center;
  gap: 0.5vw;
}
.input-section{
  margin-left: 30px;
}
.icon-section{
  margin-right: 90px;
}
.avatars{
  height: 42px;
  width: auto;
}
.icon-section > img{
  margin-left: 0.5vw;
}
.icon-button{
  height: 24px;
  width: auto;
  border: none;
  background-color: inherit;
}
.icon-black{
  height: 24px;
  width: auto;
}
#search-input{
  height: 30px;
  width: clamp(200px, 40vw, 50vw);
  background-color: #E3EBF2;
  border: none;
  border-radius: 20px;
}
#username-short{
  font-family: 'main-font-bold';
  font-size: 18px;
  color: black;
  margin-left:1vw;
}
.profile-section{
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-left: 30px;
}
.profile-section>.avatars{
  height: 60px;
  width: auto;
}
.profile-name{
  display: flex;
  flex-direction: column;
  font-family: "main-font-bold";
  color: black;
}
.button-section{
  display: flex;
  gap: 1.5vw;
  margin-right: 90px;
}
.profile-button{
  font-family: "main-font-bold";
  color: white;
  font-size: 14px;
  width: 6em;
  height: 2.5em;
  border: none;
  border-radius:3em;
  background-color: #00a3e0;
}
.profile-name>span:nth-child(1){
  font-size: 12px;
}
#username-long{
  font-size: 20px;
}


.content{
  background-color: #E3EBF2;
  grid-column: 3/13;
  grid-row: 3/-1;
  display: grid;
  grid-template-columns: 1fr min(350px, 40vw);
  grid-template-rows: subgrid;
}


.projects-section{   
  grid-column: 1/2;
  grid-row: 1/-1;
}
.announcement-section{  
  grid-column: 2/-1;
  grid-row: 1/6;
  
}
.trending-section{  
  grid-column: 2/-1;
  grid-row: 6/-1;
  
}
.projects-section,.announcement-section,.trending-section{
  font-family: "main-font-bold";
  font-size: 20px;
  color: black;
  display: flex;
  flex-direction: column;
  padding-left: 1vw;
  padding-top: 1.25vw;
}
.announcement-container{
  padding: 1.5em;
  margin-top: 1vh;
  background-color: white;
  height: 38vh;
  width: 87%;
  border-radius: 3%;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.announcement-card{    
  height: 100px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis
}
.announcement-card>span{
  font-size: 14px;
  margin: 0 0.3em 0 0.3em;
}
.announcement-card>p{
  margin: 0 0.3em 0 0.3em;
  font-family: "main-font";
  font-size: 12px;
  color: rgb(114, 114, 114);
  text-overflow: ellipsis;

  display: -webkit-box;
  -webkit-line-clamp: 3;  
  -webkit-box-orient: vertical;
  overflow: hidden;  
  margin-bottom: 1.3em;
}

.trending-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em 1.5em 1em 1.5em;
  margin-top: 1vh;
  background-color: white;
  height: 27vh;
  width: 87%;
  border-radius: 3%;
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.trending-avatar{
  height: 42px;
  width: auto;
}
.trending-card{
  display: flex;
  align-items: center;  
}
.trending-avatar-text{  
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.75em;
}
.trending-avatar-text>span:nth-child(1){ 
  font-family: "main-font"; 
  font-size: 14px;
}
.trending-avatar-text>span:nth-child(2){
  font-family: "main-font";
  font-size: 14px;
  color: grey;
}

